<!--
<% if flash.now[:notice] %>
<div class="alert alert-success">
  <div class="notice">
    <h5 class="text-body"><%= flash.now[:notice] %></h5>
    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<% end %>
-->

<div class="card border-body text-center m-5">

  <div class="card-header">
  <% if current_user == @gossip.user || session[:user_id] == 91 %>
    <p class="text-right text-muted">
      <i class="fas fa-edit"></i> <%= link_to "Éditer le potin", edit_gossip_path(params[:id]) %>&nbsp;&nbsp;
      <i class="fas fa-trash-alt"></i> <%= link_to "Supprimer le potin", gossip_path(params[:id]), type: "submit", method: "delete", data: { confirm: "Do you really, though?" } %>
    </p>
  <% end %>

    <h1><i class="far"></i> <u><%=@gossip.title%></u> </h1>
  </div>

  <div class="card-body text-body">
    <blockquote class="blockquote text-dark"><i><%= @gossip.content%></i></blockquote> 
    <div class="card-title text-left">Auteur : <%= link_to "#{@gossip.user.first_name} #{@gossip.user.last_name}", user_path(@gossip.user.id)%> (<%= link_to "#{@user.city.name}", city_path(@user.city.id)%>)</div>
    <div class="card-title text-left">Cree le <%=@gossip.created_at%></div>

  </div>
  <% if session[:user_id] != nil %>
    <% pre_like = @gossip.likes.find { |like| like.gossip_id == @gossip.id} %>
    <% if pre_like %>
        <%= link_to '<i class="far fa-heart"></i> Unlike'.html_safe, gossip_like_path(params[:id], pre_like), method: :delete, :class => "btn-danger btn p-1"  %>
    <% else %>
        <%= link_to '<i class="fas fa-heart"></i> Like'.html_safe, gossip_likes_path(params[:id]), method: :post, :class => "btn-body btn p-1" %>
    <% end %>
  <% end %>
</div>


<!-- Ajouter un commentaire -->
<% if session[:user_id] != nil %>
    <div class="card border-body m-5">
    <div class="card-header">
        <h1>Ajouter un commentaire</h1>
        </div>
        <%= form_tag(gossip_comments_path(params[:id]), method: :create) do %>
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="card-body text-body">
                <div class="form-group">
                <%= label_tag 'Comment content' %>
                <%= text_area_tag 'content', @comment.content, class: "form-control-plaintext col-sm-10", placeholder: "Ton commentaire" %>
                <br/> <br/>
                <%= submit_tag "Ajouter mon commentaire", class: "btn btn-body" %>
                <% end %>
            </div>
        </div>
    </div>
<% end %>

<!-- Affichage des commentaires -->
<% if @gossip.comments.count > 0 %>
  <h1 class="text-center m-4"><i class="far fa-comments"></i> Tous les commentaires</h1>
      <%= @gossip.comments.each do |comment| %>
        <div class="card">
          <div class="card-body">
          <h5 class="card-title"><i class="far fa-comment"></i> <%= comment.content %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><i class="far fa-user"></i> <%= "#{comment.user.first_name} #{comment.user.last_name}" %></h6>
            <% if current_user == @gossip.user || session[:user_id] == 91 %>
              <i class="fas fa-edit"></i> <%= link_to "Éditer", edit_gossip_comment_path(@gossip.id, comment.id) %> &nbsp;&nbsp;
              <i class="fas fa-trash-alt"></i> <%= link_to "Supprimer", gossip_comment_path(@gossip.id, comment.id), type: "submit", method: "delete", data: { confirm: "Tu es sûr-e ?" }  %>
            <% end %>
          </div>
        </div>
        </br>
      <% end %>
<% end %>

<!-- 
EXAMPLES DE BOUTONS
<a href="<%= gossip_path(params[:id]) %>" class="btn btn-primary">Lire le potin</a>
<a href="<%= edit_gossip_path(params[:id]) %>" class="btn btn-default">Editer</a>
<a href="<%= gossip_path(params[:id]) %>" class="btn btn-danger" data-confirm="Are you sure?" data-method="DELETE">Supprimer</a>
-->