<div class="card border-body m-5">
  <div class="card-header">
  	<h1>Ajouter un potin</h1>
	</div>
	<%= form_tag url_for(action: 'create'), method: "post" do %>
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<div class="card-body text-body">
			<div class="form-group">
			<%= text_field_tag 'title', @gossip.title, class: "form-control", placeholder: "Le titre de ton potin" %>
			<%= text_area_tag 'content', @gossip.content, class: "form-control", placeholder: "Ton potin" %>
	
			<br/> <br/>
			<%= submit_tag "Ajouter mon potin", class: "btn btn-body" %>
			<% end %>
    	</div>
    </div>
</div>

<% if @gossip.errors.any? %>
</br>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Sorry!</h4>
    <p>
      <p>We couldn't create your gossip for the following reason(s):</p>
        <ul>
          <% @gossip.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </p>
    <%# <hr> %>
  </div>
<% end %>